<h1><%= friend.name %></h1>
<p><%= friend.age %></p>
<p><%= friend.description %></p>

<a href="/<%= friend._id %>/edit"><button>Edit</button></a>

<form method="POST" action="/<%= friend._id %>?_method=DELETE">
<button type="submit">Remove</button>
</form>